
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
	margin: 0 ;
	padding: 0 ;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

html {
	font-family: 'Open Sans',sans-serif;
	scroll-behavior: smooth;
}

img {
	width: 100%;
}

header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px;
	width: 100%;
	height: 70px;
	position: absolute;
	z-index: 1;
}

header .logo a {
	font-size: 30px;
	color: white;
	padding: 15px 30px;
}

header .logo a span {
	color: orange;
}

header nav ul {
	display: flex;

}

header nav ul li a {
	margin: 5px 20px;
	font-size: 18px;
	color: white;
	padding: 10px 10px;
}

header nav ul li a:hover {
	border-bottom: 2px solid white;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(to bottom right, rgba(96, 76, 76, 0.6), rgba(96, 76, 76, 0.6)) , url("bg11.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.content h2 {
	font-size: 32px;
	padding: 5px;
	color: solid brown;
	font-family: comic sans MS;
}

.content p {
	font-size: 22px;
	color: white;
	font-family: itallic;
}

.menu {
    background-color: #333333;
    width: 100%;
}

.menu .menu-header {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.menu-header h2 {
    color: orange;
    padding: 10px 30px;
}

.menu-header h4 {
    color: orange;
    padding: 10px 20px;
}

.menu .menu-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0;
    flex-wrap: wrap;
    background-color: #404040;
}

.menu .menu-content .hot-coffees,
.cold-coffees,
.frappucino-coffees,
.Glazed-Donuts,
.Chocolate-Donuts,
.Coffee-cake,
.Cake-pop,
.choc-pop
 {
    width: 250px;
}

.menu .menu-content .hot-coffees .hot-coffees-image img {
	border-radius: 50%;
}

.menu .menu-content .cold-coffees .cold-coffees-image img {
	border-radius: 50%;
}

.menu .menu-content .frappucino-coffees .frappucino-coffees-image img {
	border-radius:  50%;
}
.menu .menu-content .Glazed-Donuts .Glazed-Donuts-image img {
	border-radius:  50%;
}
.menu .menu-content .Chocolate-Donuts .Chocolate-Donuts-image img {
	border-radius:  50%;
}
.menu .menu-content .Coffee-cake .Coffee-cake-image img {
	border-radius:  50%;
}
.menu .menu-content .Cake-pop .Cake-pop-image img {
	border-radius:  50%;
}
.menu .menu-content .choc-pop .choc-pop-image img {
	border-radius:  50%;
}


.menu .menu-content .hot-coffees-body,
.cold-coffees-body,
.frappucino-coffees-body,
.Glazed-Donuts-body,
.Chocolate-Donuts-body,
.Coffee-cake-body,
.Cake-pop-body,
.choc-pop-body
 {
	text-align: center;
	margin-top: 10px;
}

.menu .menu-content .hot-coffees-body h3 ,
.cold-coffees-body h3 ,
.frappucino-coffees-body h3, 
.Glazed-Donuts-body h3,
.Chocolate-Donuts-body h3,
.Coffee-cake-body h3,
.Cake-pop-body h3,
.choc-pop-body h3
{
	color: orange;
}

.menu .menu-content .hot-coffees-body label,
.cold-coffees-body label,
.frappucino-coffees-body label, 
.Glazed-Donuts-body label,
.Chocolate-Donuts-body label,
.Coffee-cake-body label,
.Cake-pop-body label,
.choc-pop-body label
{
    margin-top: 10px;
    color: white;
}


.shop {
	background-color: #333333;
	width: 100%;
}

.shop .shop-header {
	display: flex;
	padding: 10px;
	align-items: center;
	justify-content: space-between;
}

.shop-header h2 {
	color: orange;
	padding: 10px 30px;
}

.shop-header h4 {
	color: orange;
	padding: 10px 20px;
}

.shop-box {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: #404040;
	padding: 50px 0;
	flex-wrap: wrap;
}

.shop-box .card {
	width: 250px;
	margin: 20px;
}

.shop-box .card-image {
	width: 100%;
	height: 280px;
	overflow: hidden;
}

.shop-box .card-image img:hover{
	transform: scale(1);
	transition: transform .4s ease-in-out;
}

.shop-box .card-body {
	padding: 20px;
	color: white;
	border: 3px solid #383838;
}

.shop-box .card-body h3 {
	padding: 10px 0;
}

.shop-box .card-body i {
	color: yellow;
	font-size: 10px;
	position: relative;
	bottom: 5px;
}

.shop-box .card-body .cash {
	font-size: 22px;
	margin-left: 90px;
}

.contact {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	border-top: 2px solid #333333;
}

.contact .contact-box {
	flex: 1;
}

.contact .contact-box .contact-image,
.contact .contact-box .contact-body {
	height: 100%;
}

.contact img {
	width: 100%;
	height: 100%;
}

.contact-image img {
	opacity: .9;
}

.contact-body {
	background-color: #404040;
	height: 100%;
	border-left: 2px solid #333333;
}

.contact-body form {
	padding: 50px 40px;
	box-sizing: border-box;
}

.contact-body h2 {
	color: orange;
}

form .form-content {
	position: relative;
	margin: 30px 0;
	border-bottom: 2px solid lightgray;
}

form .form-content input {
	width: 100%;
	height: 40px;
	padding: 0 5px;
	font-size: 17px;
	border: none;
	background: none;
	outline: none;
	color: white;
}
form .form-content label {
	position: absolute;
	top: 50%;
	left: 5px;
	color: gray;
	transform: translateY(-50%);
	font-size: 17px;
	transition: .5s;
	pointer-events: none;
}

form .form-content span::before {
	content: '';
	position: absolute;
	top: 40px;
	left: 0;
	width: 0%;
	height: 2px;
	background: orange;
	transform: .4s;
}

form .form-content input:focus~label,
form .form-content input:valid~label {
	top: -5px;
	color: orange;
}

form .form-content input:focus~span::before,
form .form-content input:valid~span::before {
	width: 100%;
}

.contact-body form button {
	padding: 10px 20px;
	font-size: 17px;
	border: none;
	background-color: #ff6600;
	color: white;
	border: 5px;
	cursor: pointer;
	transition: all .4s ease-in;
}

.contact-body form button:hover {
	background-color: #ff6681;
}

.About {
	background-image: linear-gradient(to bottom right, rgba(96, 76, 76, 0.6), rgba(96, 76, 76, 0.6)) , url("about.jpg");
    /*background-color: #333333;
*/    width: 100%;
}
.About .About-header {
	display: flex;
	padding: 10px;
	align-items: center;
    justify-content: space-between;
}
.About-header h2 {
    color: orange;
    padding: 10px 30px;
}
.About-content h3 {
	color: orange;
    padding: 10px 30px;
    font-family: comic sans MSS;

}
.About-content label {
	color: white;
    padding: 10px 30px;

}




.footer {
	background-color: #404040;
	border-top: 2px solid #333333;
}

.footer .footer-box {
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer .footer-box .social-media a {
	color: white;
	background-color: #333333;
	border-radius: 50%;
	font-size: 17px;
	padding: 10px;
	margin: 5px;
}

.footer .footer-box .social-media a:hover {
	opacity: .7;
	transition: .5s all ease-in-out;
}

.footer .footer-box .copyright {
	color: white;
	font-size: 20px;
}

.footer .footer-box .brand {
	color: white;
	font-size: 30px;
	font-family: comic sans MS;
}

.footer .footer-box .brand span {
	color: white;
	font-family: comic sans MS;
	font-size: 30px;
}

@media(max-width: 992px) {

	header{
		flex-direction: column;
		height: 150px;
		background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2));
	}

	.menu-header .logo a {
		font-size: 25px;
	}

	header nav ul li a {
		font-size: 16px;
		flex-direction: column;
		display: inline-block;
		margin-top: 10px;
	}

	header nav {
		display: flex;
		flex-direction: column;
	}

	.content h2 {
		font-size: 28px;
	}

	.content p {
		font-size: 18px;
	}
}

@media(max-width: 950px) {
	.contact .contact-box {
		flex: 100%;
	}
}

@media(max-width: 800px) {
	.menu .menu-content .hot-coffees,
	.cold-coffees,
	.frappucino-coffees {
		margin: 20px;
	}
}

@media(max-width: 700px) {
	.footer .footer-box .social-media a {
		color: white;
		background-color: #333333;
		border-radius: 50%;
		font-size: 16px;
		padding: 5px;
	}

	.footer .footer-box .copyright{
		color: white;
		font-size: 15px;
	}

	.footer .footer-box .brand {
		color: white;
		font-size: 18px;
	}
}

@media(max-width: 500px) {

	header{
		height: 130px;
	}

	header .logo a {
		font-size: 23px;
	}

	header nav ul li a {
		font-size: 13px;
		flex-direction: column;
		display: inline-block;
		margin-top: 10px;
	}

	header nav {
		display: flex;
		flex-direction: column;
	}

	.content h2 {
		font-size: 23px;
	}

	.content p {
		font-size: 16px;
	}

	.footer .footer-box {
        flex-direction: column;
    }

    .footer .footer-box .social-media a {
    	color: white;
    	background-color: #333333;
    	border-radius: 50%;
    	font-size: 16px;
    	padding: 10px;
    	margin-top: 10px;
    	display: inline-block;
    }

    .footer .footer-box .copyright {
    	color: white;
    	font-size: 15px;
    	margin-top: 10px;
    }

    .footer .footer-box .brand {
    	color: white;
    	font-size: 18px;
    	margin-top: 10px;
    }
}

@media(max-width: 410px){

	header {
		height: 120px;
	}

	header .logo a {
		font-size: 20px;
		color: white;
		padding: 15px 30px;

	}

	header nav ul li a {
		font-size: 12px;
		flex-direction: column;
		display: inline-block;
		margin-top: 10px;
		color: white;
		padding: 5px 5px;
	}

	header nav {
		display: flex;
		flex-direction: column;
	}

	.content h2 {
		font-size: 20px;
	}

	.content p {
		font-size: 13px;
	}
}

